h2{
    font-size: 40px;
    font-family: "urbanist", sans-serif;
    font-weight: 200;
    padding-bottom: 2vh;
    color: var(--branco);
}

.contatos {
    width: 90%;
    height: 85vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.icones {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding-block: 1rem;
    gap: 15vh;
}

.icone {
    font-size: 3rem;
    color: var(--red);
}

.A{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}